# --- Python 后端忽略项 ---
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.venv/
*.so
.env

# --- Node/Vue 前端忽略项 ---
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
.DS_Store

# --- 数据库与敏感数据 ---
*.db
*.sqlite3
data/database.db
certs/

# --- IDE 配置文件 (可选) ---
.vscode/
.idea/

# --- Docker ---
# 如果你不希望上传 docker 运行时产生的数据
mysql_data/
redis_data/
